body{
	background: green;
	font-family: 'Pacifico', cursive;
	margin: 0;
}
h1	{
	font-size: 4.0em;
	color: white;
	text-align: center;
}

h2 {
	font-size: 2.0em;
	color:white;
	text-align: center;
	font-family: 'Oswald', cursive;
	margin-bottom: 50px;
}

.difficulty{
	font-size: 2.5em;
	text-align: center;
	font-family: 'Oswald', cursive;
	padding: 20px 0px;
	margin:20px 0px;
	background-color: #F5DEB3;
}

#golfball{
	margin-top: 230px;
	margin-left: 50px;
	height: 200px;
	overflow: hidden;
	position: relative;
}

#golfballtext{
	font-size: 2em;
	position: absolute;
	top:100px;
	left: 250px;
	background: white;
	padding: 5px;
	display: none;
}

#backButton{
	margin-top: 500px;
	margin-left: 15px;

}

#easy{
	color: green;
	
}

#medium{
	color: orange;

}

#hard{
	color: red;
}