body{
	background: green;
	font-family: 'Pacifico', cursive;
	margin: 0;
	overflow: hidden;
}
h1	{
	font-size: 3.5em;
	color: white;
	text-align: center;
}

h2 {
	font-size: 2em;
	color:white;
	text-align: center;
	font-family: 'Oswald', cursive;
	margin-bottom: 1em;
}

.difficulty{
	font-size: 1.5em;
	text-align: center;
	font-family: 'Oswald', cursive;
	padding: 0.4em 0px;
	margin:0.5em 0px;
	background-color: #F5DEB3;
}

#golfball{
	height: 10em;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

#golfballtext{
	font-size: 1.5em;
	position: absolute;
	top:2.5em;
	left: 8.5em;
	background: white;
	padding: 10px;
	display: none;
}

#backButton{
	margin-top: 1050px;
	margin-left: 15px;

}

#easy{
	color: green;
	
}

#medium{
	color: orange;

}

#hard{
	color: red;
}