body{
	background: green;
	font-family: 'Pacifico', cursive;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
h1	{
	font-size: 3.5em;
	color: white;
	text-align: center;
}

h2 {
	font-size: 2em;
	color:white;
	text-align: center;
	font-family: 'Oswald', cursive;
	margin-bottom: 1em;
}

.difficulty{
	font-size: 1.5em;
	text-align: center;
	font-family: 'Oswald', cursive;
	padding: 0.4em 0px;
	margin:0.5em 0px;
	background-color: #F5DEB3;
}

#golfball{
	height: 10em;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

#golfballtext{
	font-size: 2.2em;
	position: absolute;
	top:1.5em;
	left: 4em;
	background: white;
	padding: 0.2em;
	display: none;

}
#golfballimage{
	width: 35em;
}
#backButton{
	margin-top: 1050px;
	margin-left: 15px;

}

#easy{
	color: green;
	
}

#medium{
	color: orange;

}

#hard{
	color: red;
}

#map{
	float: left;
	height: 200px;
	width: 100%;
	margin-bottom: 1em;
}

.pubTitles{
	z-index: 10000;
	width: 100%;
	font-size:1.5em;
	text-align: center;
	font-family: 'Oswald', cursive;
	color: white;
	margin-top: 0.7em;
	background-color: #059059;
}

#pubList{
	position: relative;
	float: left;
	width: 100%;
}

.pubInfo{
	display: none;
	text-align: center;
}

.pubAttr{
	background-color: 
}

